@import "_vars"

responsive-color()
	if @background-color && dark(@background-color)
		color white
	else
		color $color-font-dark


card()
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;



.thin
	font-weight: 100

