// Colors
$color-accent = #A5E2B4//#ff6347;

$color-font-dark = rgb(64, 64, 64);

// Typography


// Defining font family
$fontDefault = Helvetica, Arial, sans-serif !default;
$fontHighlight = 'Roboto Condensed', Helvetica, sans-serif !default;
$fontIcon = 'icons' !default;

// Defining font sizes
$fontSmall = 13px
$fontBase = 16px
$fontMedium = 20px
$fontLarge = 26px
$fontXLarge = 42px
$fontXXLarge = 68px
$fontHuge = 110px



// Animation

$animation-curve = cubic-bezier(0.4, 0, 0.2, 1)
$animation-length = 0.2s

$animation-default =  $animation-curve $animation-length

