extend layout/_layout

block title
   title Codeneric Home

block footerScripts
   script(src="bower_components/angular/angular.js")
   script(src="scripts/app.js")

block body
   header(role="main")
      - if(user)
         h1 Hi, #{user.name}!
      - else
         h1 Hello, stranger

